.container {
  margin: 0 auto;
  max-width: 1240px;
}
nav {
  display: flex;
  align-items: center;
  gap: 70px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.katalog {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 8px;
  padding: 15px 27px 15px 28px;
  border: 2px solid #111;
  border-radius: 12px;
  transition: 0.5s ease;
}
.katalog:hover {
  border-color: #da002b;
  color: #da002b;
}
.katalog-parda {
  position: absolute;
  opacity: 0;
  width: 1260px;
  min-height: 800px;
  background-color: lightblue;
}
.parda-open {
  animation-name: parda;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes parda {
  from {
    min-height: 0;
    opacity: 0;
  }
  to {
    min-height: 800px;
    opacity: 1;
  }
}
.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 378px;
  background-color: rgb(153, 153, 153, 0.2);

  border-radius: 8px;
  padding: 10px 20px;
}
.search {
  width: 300px;
  background-color: transparent;
  text-align: start;
  border: transparent;
  font-size: 20px;
}
.search-btn {
  border-radius: 8px;
  background-color: #da002b;
  padding: 10px 24px;
  color: aliceblue;
}

.nav-right {
  display: flex;
  gap: 15px;
  font-size: 20px;
}
.nav-right-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
